    body {
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header-left {
    margin-left: 2%;
}
.header-right {
    margin-right: 2%;
}
.header-right li {
    list-style: none;
    display: flex;
    gap: 30px;
}
.box img {
    display: flex;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    justify-content: center;
    align-items: center;
}
.box {
    display: flex;
    width: 50%;
    height: 90vh;
    background-color: black;
    margin-top: 2px;
    justify-content: center;
    align-items: center;
}

.txt {
    text-align: center;
}

#content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12%;
}